<div class="card d-table" style="height:100%;width:100%">
    <div class="card-body d-table-cell align-middle text-center">        
        <div class="row">                    
            <div class="col-12">
                <img src="<%= urlImage %>" class="img-fluid" style="width:50%" />
            </div>
        </div>
    </div>    
</div>