<div id="Manage_Session" class="card-header" style="width:100%;display:none">
    <div id="Select_Sessions" class="btn-group btn-block">
    </div>    
</div>
<div id="list_Of_Tests" class="card-body" style="width:100%;display:none">
</div>