<div class="row mt-4">
    <div class="col-6 text-left">
        <h5 style="font-weight:bold;font-style:italic">Commentaires:</h5>
    </div>
    <div class="col-6 text-right">
        <button id="Save_Commentaires_Session" class="btn btn-info" type="button" style="display:none">Save</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <textarea class="form-control rounded-0" id="Commentaires_Session" rows="12"><%= commentaires_session %></textarea>
    </div>
</div>