main {
  background: #45a4b6;
}

input {
  max-width: 300px;
}

h1 {
  font-size: 2rem;
  text-align: left;
}

.login-form {
  background: #fff;
  padding: 32px;
}

.remember-check {
  display: inline-block;
  padding-left: 60px;
}
