<nav class="navbar navbar-expand-sm menu navbar-light bg-light"> 
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a id="LogOut" href="/logout" class="nav-link btn btn-logout">Logout</a>
        </li>
    </ul>
</nav>

